.App {
  font-family: 'Roboto', sans-serif;
}

.pages {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 12px 0;
  background-color: aliceblue
}

a {
  color: #5e0f7d ;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #901cbd;
  transition: ease-in 0.3s;
}