@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.pages {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  padding: 12px 0;
  background-color: aliceblue
}

a {
  color: #5e0f7d ;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #901cbd;
  transition: ease-in 0.3s;
}
.active {
  color: #b435e7;
}